// Outer BOX
:host {
    display: flex;
    justify-content: left;
    margin: 100px 0px;
  }
// Card Layout
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: left;
  }
  // Button Positions
.button {
    display: flex;
    justify-content: center;
  }
.profileHeading{
    background-color: lightsteelblue;
}  