<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-* card-margin">
      <mat-card>
        <!-- NeoStore Branding -->
        <mat-card-title><span class="neo">Neo</span><span class="scrum">Store</span></mat-card-title>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="submit()">

            <!-- Email -->
            <p>
              <mat-form-field>
                <input type="text" matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="checkError('email', 'required')">Email is required</mat-error>
                <mat-error *ngIf="checkError('email', 'email')">Invalid Email</mat-error>
              </mat-form-field>
            </p>

            <!-- Password -->
            <p>
              <mat-form-field>
                <input type="password" [type]="hide ? 'password' : 'text'" [attr.aria-pressed]="hide" matInput
                  placeholder="Password" formControlName="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="checkError('password', 'required')">Password is required</mat-error>
                <mat-error *ngIf="checkError('password', 'minlength')">Last Name should be more than 8 characters
                </mat-error>
                <mat-error *ngIf="checkError('password', 'maxlength')">Last Name should be less than 14 characters
                </mat-error>
                <mat-error *ngIf="checkError('password', 'pattern')">Only Alphanumeric is allowed</mat-error>
              </mat-form-field>
            </p>

            <!-- Error Display Span -->
            <div *ngIf="error; else success" class="error">
              {{ error }}
            </div>

            <ng-template class="success" #success>
              <!-- {{success}} -->
            </ng-template>
            <br>

            <!-- Login -->
            <div class="button">
              <button type="submit" mat-raised-button color="accent">Login</button>
            </div><br>
            <p style="text-align: center; font-weight: bolder;" [routerLink]="['/forget-password']">Forgot Password?</p>
            <br>
            <p style="text-align: center;">Not A Part of NeoStore yet?</p>

            <!-- Register  -->
            <div class="button">
              <button type="submit" mat-raised-button color="accent" [routerLink]="['/registration']"
                routerLinkActive="router-link-active">Register</button>
            </div><br>
            <!-- <div class="button">
    <button type="button" mat-raised-button color="accent" (click)="signOut()">Logout</button>
  </div><br> -->

            <!-- OR Seperator -->
            <div class="separator text-muted">OR</div><br>

            <!-- Login with FB -->
            <button class="loginBtn loginBtn--facebook" (click)="signInWithFB()">
              Login with Facebook
            </button>

            <!-- Login with Google -->
            <button class="loginBtn loginBtn--google" (click)="signInWithGoogle()">
              Login with Google
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>