<div class="m-5">
    <div class="row">
      <div class="col-sm-12 col-lg-3" >
        <div class="row">
          <div class="col">
            <span class="headFont m-2">All Products</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 my-2 col-sm-4 m-2">
            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> Categories </mat-panel-title>
                </mat-expansion-panel-header>
  
                <div *ngFor="let subtask of category; let i = index">
                  <!-- <form #myForm="ngForm"> -->
                  <p class="m-2 p-1 pointer" (click)="onCategoryClicked()">
                    {{ subtask }}
                  </p>
                  <!-- </form> -->
                </div>
  
                <!-- <button mat-raised-button (click)="applyCategory(checkBox.value)">Apply</button> -->
  
                <!-- <checkbox-group [(ngModel)]="selectedItems">
                      <mat-checkbox value="item1">Item 1</mat-checkbox>
                      <mat-checkbox value="item2">Item 2</mat-checkbox>
                      <mat-checkbox value="item3">Item 3</mat-checkbox>
                      <mat-checkbox value="item4">Item 4</mat-checkbox>
                    </checkbox-group>
                    <p>Selected items - {{selectedItems | json}}</p> -->
              </mat-expansion-panel>
            </mat-accordion>
          </div>
  
          <div class="col-lg-12 col-sm-4 m-2">
            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> Color </mat-panel-title>
                </mat-expansion-panel-header>
  
                <div *ngFor="let subtask of categoryColor; let i = index">
                  <p class="m-2 p-1 pointer" (click)="onColorClicked()">
                    {{ subtask }}
                  </p>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-sm-12">
        <!-- <app-homepage-card></app-homepage-card> -->
        <div class="row m-4">
          <div style="text-align: end">
            <!-- <div class="col" > -->
  
            <span class="m-2 pointer" (click)="onRatingSortDesc()"
              >Rating<mat-icon>arrow_downward</mat-icon>
            </span>
            <span class="m-2 pointer" (click)="onPriceSortAsc()"
              >Price<mat-icon>arrow_upward</mat-icon>
            </span>
            <span class="m-2 pointer" (click)="onPriceSortDesc()"
              >Price<mat-icon>arrow_downward</mat-icon>
            </span>
  
            <!-- </div> -->
          </div>
        </div>
        <div class="row">
          <div
            class="col-sm-6 col-lg-4 mb-4 card-margin"
            *ngFor="let product of productList?.data.docs
                | paginate: { itemsPerPage: 10, currentPage: p }
            "
          >
            <mat-card class="example-card">
              <img height="150vh"
                mat-card-image
                src="{{ product.mainImage }}"
                alt=""
              />
              <mat-card-content>
                <h2 style="text-align: center">
                  {{ product.name }}
                </h2>
  
                <div style="text-align: center">
                  <!-- <star-rating
                    [value]="product.avgRating" 
                    checkedcolor="#ffcc00"
                    uncheckedcolor="#ffff99"
                    size="24px"
                    [readonly]="true"
                  ></star-rating> -->
                  <div class=rating>
                        <button type="button" disabled class="btn btn-success">{{product.avgRating}}<img src="../../../assets/images/star.png"></button>
                  </div><br>
                  <h3 style="text-align: center">
                    &#8377; {{ product.price }}
                  </h3>
                  <button
                    mat-raised-button
                    color="primary"
                    style="text-align: center"
                    (click)="addToCart(product.id)"
                  >
                    Add to Cart
                  </button>
                </div>
              </mat-card-content>
              <mat-card-actions> </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <pagination-controls
          class="textCenter"
          (pageChange)="p = $event"
        ></pagination-controls>
      </div>
    </div>
  </div>
  