// Spacing Handler Navbar
.menu-spacer {
    flex: 1 1 auto;
}
// Hover Color Navbar Anchors
.mat-button:hover{
    color:#ffca28;
}
// NeoStore LOGO
.neo{
    color: white;
    font-weight: 700;
}
.scrum{
    color:red;
    font-weight: 700;
}
// Search Button
.sbutton{
    border: none;
    max-width: 32vh;
}
.tstyle{
    font-weight: 600;
}