<div class="container mt-4">
  <div class="row">
    <div class="col-sm-12 col-lg-* card-margin">
      <mat-card>
        <!-- NeoStore Branding -->
        <mat-card-title><span class="neo">Neo</span><span class="scrum">Store</span></mat-card-title>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="submit()">

            <!-- First Name -->
            <p>
              <mat-form-field>
                <input type="text" matInput placeholder="First Name" formControlName="firstName">
                <mat-error *ngIf="checkError('firstName', 'required')">First Name is required</mat-error>
                <mat-error *ngIf="checkError('firstName', 'minlength')">First Name should be more than 3 characters
                </mat-error>
                <mat-error *ngIf="checkError('firstName', 'maxlength')">First Name should be less than 20 characters
                </mat-error>
                <mat-error *ngIf="checkError('firstName', 'pattern')">Only Alphabets</mat-error>
              </mat-form-field>
            </p>

            <!-- Last Name -->
            <p>
              <mat-form-field>
                <input type="text" matInput placeholder="Last Name" formControlName="lastName">
                <mat-error *ngIf="checkError('lastName', 'required')">Last Name is required</mat-error>
                <mat-error *ngIf="checkError('lastName', 'minlength')">Last Name should be more than 5 characters
                </mat-error>
                <mat-error *ngIf="checkError('lastName', 'maxlength')">Last Name should be less than 20 characters
                </mat-error>
                <mat-error *ngIf="checkError('lastName', 'pattern')">Only Alphabets</mat-error>
              </mat-form-field>
            </p>

            <!-- Email -->
            <p>
              <mat-form-field>
                <input type="text" matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="checkError('email', 'required')">Email is required</mat-error>
                <mat-error *ngIf="checkError('email', 'email')">Invalid Email</mat-error>
              </mat-form-field>
            </p>

            <!-- Phone Number -->
            <p>
              <mat-form-field>
                <input type="text" matInput placeholder="Phone Number" formControlName="mobile">
                <mat-error *ngIf="checkError('mobile', 'required')">Phone Number is required</mat-error>
                <!-- <mat-error *ngIf="checkError('phone_number', 'minlength')">Phone Number should be of 10 digits only</mat-error>
          <mat-error *ngIf="checkError('phone_number', 'maxlength')">Phone Number should be of 10 digits only</mat-error> -->
                <mat-error *ngIf="checkError('mobile', 'pattern')">Please Enter 10 digit Mobile number only
                </mat-error>
              </mat-form-field>
            </p>

            <!-- Gender -->
            <p>Gender</p>
            <mat-radio-group aria-label="Gender" formControlName="gender">
              <mat-radio-button value="male" color="primary">Male</mat-radio-button>&nbsp;
              <mat-radio-button value="female" color="primary">Female</mat-radio-button>
              <mat-error *ngIf="checkError('gender', 'required')">Gender is required</mat-error>
            </mat-radio-group><br>

            <!-- Password -->
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="checkError('password', 'required')">Password is required</mat-error>
                <mat-error *ngIf="checkError('password', 'minlength')">Last Name should be more than 8 characters
                </mat-error>
                <mat-error *ngIf="checkError('password', 'maxlength')">Last Name should be less than 14 characters
                </mat-error>
                <mat-error *ngIf="checkError('password', 'pattern')">Only Alphanumeric is allowed</mat-error>
              </mat-form-field>
            </p>

            <!-- Confirm Password -->
            <p>
              <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="Confirm Password"
                  name="confirm_password" formControlName="confirm_password">
                <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                  ConfirmPasswordValidator="password" [attr.aria-pressed]="hide1">
                  <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="checkError('confirm_password', 'required')">Please Confirm Password</mat-error>
                <mat-error *ngIf="checkError('confirm_password', 'minlength')">Last Name should be more than 8
                  characters</mat-error>
                <mat-error *ngIf="checkError('confirm_password', 'maxlength')">Last Name should be less than 14
                  characters</mat-error>
                <mat-error *ngIf="checkError('confirm_password', 'pattern')">Please enter correct password</mat-error>
                <!-- <mat-error *ngIf="confirm_password.errors?.notEqual">Password mismatch</mat-error> -->
                <!-- <mat-error>{{passwordcheck()}}{{match}}</mat-error> -->
                <!-- <mat-error *ngIf="form.get(['password','confirm_password']).value != form.get(['password','confirm_password']).value && form.get(['password','confirm_password']).value != null"></mat-error> -->
                <!-- <mat-error *ngIf="checkError('confirm_password', 'equalTo')">Error</mat-error> -->
              </mat-form-field>
            </p>

            <!-- Register -->
            <div class="button">
              <button type="submit" mat-raised-button color="accent" (click)="submit()">Register</button>
            </div><br>

            <p style="text-align: center;">Already a Part of NeoStore yet?</p>

            <!-- Login -->
            <div class="button">
              <button type="submit" mat-raised-button color="accent" [routerLink]="['/login']">Login</button>
            </div><br>
            <!-- <div class="button">
      <button type="button" mat-raised-button color="accent" (click)="signOut()">Logout</button>
    </div><br> -->

            <!-- OR Seperator  -->
            <div class="separator text-muted">OR</div><br>

            <!-- Register with FB -->
            <button class="loginBtn loginBtn--facebook" (click)="signInWithFB()">
              Register with Facebook
            </button>

            <!-- Register with Google -->
            <button class="loginBtn loginBtn--google" (click)="signInWithGoogle()">
              Register with Google
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>