<div class="container">
  <div class="row">
    <div class="col-sm-6 col-12 col-lg-4 mb-4 card-margin" style="text-align: center;" *ngFor="let items of products"
      (click)="passdata( items._id )">
      <mat-card class="example-card">
        <mat-card-header>

          <!-- Product Image -->
        </mat-card-header>
        <img mat-card-image src="{{items.product_image}}" alt="Photo of a Shiba Inu">
        
        <!-- Items Name and price -->
        <mat-card-content>
          <p>{{items.category_name}}</p>
          <p><b>INR 22,500</b></p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>