<div *ngFor="let orders of order_listing;let i=index;">
    <mat-card>
        <div class="row">
            <h3>Order ID / {{orders._id}}</h3><br>
        </div>
        <div clas="row">
            <h5>Placed At: {{orders.productId.createdAt | date}}</h5>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <img src={{orders.productId.mainImage}} height="50vh" width="50vh" />
            </div>
        </div><br>
        <div class="row">
            <button mat-raised-button color=accent>Download Invoice</button>
        </div>

    </mat-card>
</div>