.menu-spacer {
    flex: 1 1 auto;
}
.mat-button:hover{
    color:yellow;
}
.neo{
    color: white;
    font-weight: 700;
}
.scrum{
    color: red;
    font-weight: 700;
}
.sbutton{
    border: none;
}